h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.contact-form {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 0 50px 0
}

.contact-header { 
    font-size: 72px;
}

.contact-intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    max-width: 1000px;
    font-style: oblique;
    text-align: left;
}

.contact-intro span {
    font-weight: 700;
}

.input-field:nth-child(7),
.input-field:nth-child(8),
.input-field:nth-child(9),
.input-field:nth-child(10){
    flex: 1 1 100%;
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

input, select, textarea {
    flex: 1;
    min-width: 400px;
    padding: 0.5rem;
    border: 2px solid var(--background-color-dark);
    font-size: 1rem;
    font-family: inherit;
    background-color: transparent;
    transition: border-color 0.3s ease;
    color: #213547;;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: black;
}

select {
    cursor: pointer;
}

select:has(option:disabled:checked) {
    color: grey;
  }

textarea, .file-upload {
    height: 120px;
    resize: none;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1 1 100%;
    text-align: left;
}

/* button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* button:hover {
    background-color: cyan;
} */

select:hover {
    border-color: rgb(160, 160, 160);
}
