.home-hero {
  background-image: url('/homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 0;
}

.home-hero-text {
  font-size: 2em;
  position: absolute;
  background-color: aqua;
  top: 25%;
  left: 0;
  padding: 5%;
  text-align: left;
  /* text-transform: uppercase; */
  color: #333;
}

.home-hero-text p {
  font-size: .5em;
  margin: 10px 0;
  font-style: oblique;
}

.home-hero-text h1 {
  font-size: 3em;
  margin: 0;
  font-weight: 700;
}

.home-hero-text span.bold {
  font-weight: 900;
  text-shadow: 0 0 5px #000;
}

.home-hero-text span.elegant {
   font-family: 'Cherolina', sans-serif;
   font-size: 1.5em;
}

.down-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.down-arrow img {
  width: 50px;
  animation: bounce 1.5s infinite ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at original position */
  }
  50% {
    transform: translateY(15px); /* Move up */
  }
}

.home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.motto-container {
  width: 100%;
  height: 100dvh;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  background-color: #333;
  z-index: 1;
  overflow: visible;
}

.motto-container::before {
  content: '';
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  height: 300px;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 25%, rgba(51, 51, 51, 0) 100%);
  z-index: 10; 
  pointer-events: none;
}

.motto-content {
  width: 420px;
  height: calc(auto + 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  border: 2px solid cyan;
  z-index: 1;
  animation: pulseGlow 5s infinite ease-in-out; 
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 5px 0px cyan, inset 0 0 5px 0px cyan;
  }
  50% {
    box-shadow: 0 0 10px 0px cyan, inset 0 0 10px 0px cyan;
  }
  100% {
    box-shadow: 0 0 5px 0px cyan, inset 0 0 5px 0px cyan;
  }
}

.motto-content h4 {
  text-align: center;
  margin: 0 0 5px 0;
  text-decoration: overline underline;
  text-underline-offset: 5px;
}

.work-container {
  width: 100%;
  height: 100dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  scroll-snap-align: start;
  z-index: 1;
}

.industries-container {
  text-align: center;
  display: flex;
  flex: 1 1 100%;
  width: 100dvw;
  height: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
  z-index: 1;
}

/* .industries-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 25%, rgba(51, 51, 51, 0) 100%);
  z-index: 10; 
  pointer-events: none;
} */


/* .fade-in-out {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 300px;
  animation: fade 7s ease-in infinite;
} */

@keyframes fade {
  0%, 20% {
      opacity: 0;
      transform: translateX(-20px);
  }
  30%, 70% {
      opacity: 1;
      transform: translateX(0);
  }
  80%, 100% {
      opacity: 0;
      transform: translateX(20px);
  }
}

.featured-work {
  flex: 1 1 100%;
  width: 100%;
  height: 50%;
}

.featured-work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  /* width: clamp(200px, 200px, 100vw); */
  padding: 50px 20px;
}

.featured-work-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1 1 400px; /* Flex-grow, flex-shrink, flex-basis */
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.featured-work-image {
  width: 100%;
  height: 300px;
  margin: 0 0 2.5px 0;
}

.featured-work-image a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.featured-work-image a:hover {
  filter: brightness(0.8);
}

.featured-work-content {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.featured-work-content h2, .featured-work-content p {
  display: inline-block;
  margin: 2.5px 0;
  padding: 0 1.5rem 0 0.25rem;
  color: black;
  text-align: left;
  font-style: oblique;
}

.contact {
  width: 100%;
  height: 50vh;
  color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #333;
  z-index: 1;
}
