.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #333;
}

.landing-page img {
  width: clamp(400px, 600px, 90%);
  height: auto;
}

.menu {
  position: absolute;
  width: clamp(400px, 600px, 90%);
  aspect-ratio: 16 / 9;
}

.menu-item {
  position: absolute;
}

.top-left, .top-right, .bottom-left, .bottom-right {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;

}

.top-left {
  top: -50px;
  left: -150px;
}

.top-right {
  top: -60px;
  right: 100px;
}

.bottom-left {
  bottom: 0;
  left: -120px;
}

.bottom-right {
  bottom: 100px;
  right: 0;
}

/* .top-left::before, .top-right::before, .bottom-left::before, .bottom-right::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
} */

.glitch {
  animation: glitch-pause 4s infinite steps(1);
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
}

.glitch::before {
    animation: glitch-before 4s infinite steps(10);
    color: cyan;
}

.glitch::after {
    animation: glitch-after 3s infinite steps(10);
    color: magenta;
}

@keyframes glitch-pause {
    0%, 90% { opacity: 1; transform: translateX(0); filter: none; }
    91% { opacity:1; }
      92% { 
          opacity: 0.7; 
          transform: translateX(-2px); 
          filter: hue-rotate(15deg); 
      }
    93% { 
      opacity: 0.7; 
      transform: translateX(-2px); 
      filter: hue-rotate(15deg); 
    }
    94% { opacity: 1; }
      95% { opacity: 1; }
      96% {
          opacity: 0.7; 
          transform: translateX(2px); 
          filter: hue-rotate(-15deg); 
      }
      97% {
          opacity: 0.7; 
          transform: translateX(2px); 
          filter: hue-rotate(-15deg); 
      }
      100% { opacity: 1; }
  }

  @keyframes glitch-before {
        0%, 95% {
            left: 0;
            bottom: 0;
        }
        96% { 
            left: -5px;
            bottom: 0;
        }
        97% { left: 5px; bottom: 0; }
        98% { left: -5px; bottom: 0; }
        99% { left: 5px; bottom: 0; }
        100% { left: 0; bottom: 0; }
    }  

    @keyframes glitch-after {
        0%, 95% {
            left: 0;
            bottom: 0;
        }
        96% { 
            left: 5px;
            bottom: 0;
        }
        97% { left: -5px; bottom: 0; }
        98% { left: 5px; bottom: 0; }
        99% { left: -5px; bottom: 0; }
        100% { left: 0; bottom: 0; }
    }