nav {
    background-color: #000000;
    padding: 10px;
    position: fixed;
    display: inline-block;
    top: 40px;
    left: 0;
    z-index: 1000;
}

nav::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 44px;
    background-color: #000000;
    transform: rotate(180deg);
    top: 0;
    right: -15px; /* Extend beyond the right edge */
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }  

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    margin: 0 0 0 100px;
}

nav ul li {
    margin-right: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

nav ul li a {
    font-weight: 400;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    color: cyan;
}

nav ul li img {
    position: absolute;
    width: 65px;
    height: auto;
    top: -30px;
    left: 30px;
}

.active {
    color: cyan;
}