.page-title {
    font-size: 14px;
    text-align: center;
    font-style: oblique;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.work-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 0 20px;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1 1 400px; /* Flex-grow, flex-shrink, flex-basis */
    margin: 0 0 75px 0;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.work-item:nth-child(1) {
    flex: 1 1 100%;
    opacity: 1;
}

.work-item:nth-child(2n+2) {
    flex: 1 1 40%;
}

.work-image {
    width: 100%;
    height: 500px;
    margin: 0 0 2.5px 0;
}

.work-image a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.work-image a:hover {
    filter: brightness(0.8);
}

.work-image a:hover .work-content h2 {
    background-color: #333;
}

/* .work-item:hover .work-content h2, .work-item:hover .work-content p {
    background-color: #333;
}

.work-item:hover .work-content h2, .work-item:hover .work-content p {
    color: var(--background-color);
} */

.work-content {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.work-content h2, .work-content p {
    display: inline-block;
    margin: 2.5px 0;
    padding: 0 1.5rem 0 0.25rem;
    color: #333;
    text-align: left;
    background-color: #cecece;
    transition: 0.3s ease;
}

.separator {
    color: #f0f0f0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .work-grid {
        gap: 1rem;
    }

    .work-item {
        width: 100%;
    }
}
