.case-type {
    width: 90%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.case-type p {
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--background-color-dark);
}

.case-type h1 {
    font-size: 120px;
    margin-bottom: 1rem;
    width: clamp(400px, 75%, 1000px );
    text-align: right;
}

.project-hero {
    display: block;
    width: 90%;
    height: auto;
}

.project-hero img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

.project-hero p {
    font-size: 16px;
    font-style: oblique;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
}

.project-header, .project-design, .project-identity, .project-identity img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    padding: 25px 5%;
    flex-wrap: wrap;
}

.project-approach {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
    text-align: left;
    padding: 25px 5%;
}

.project-approach p {
    width: clamp(400px, 100%, 1000px);
}

.project-approach::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px dotted #333;
    margin: 50px auto;
}

.project-header {
    background: linear-gradient(to bottom, var(--background-color), var(--background-color-dark));
    margin: 100px 0 auto;
}

.project-header h1 {
    font-size: 72px;
    margin-bottom: 1rem;
    flex: 1 1 60%;
}

.project-header p {
    font-size: 24px;
    font-style: oblique;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    flex: 1 1 40%;
    min-width: 400px;
}

.project-approach, .project-design {
    background-color: var(--background-color-dark);
    text-align: left;
    justify-content: flex-start;
}

.project-design-info {
    flex: 1 1 60%;
    min-width: 400px;
}

.project-item-title {
    font-size: 18px;
    font-style: oblique;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    text-align: left;
}

.project-design img {
    flex: 1 1 40%;
    min-width: 400px;
    object-fit: cover;
    object-position: center;
}

.project-identity {
    background: linear-gradient(to bottom, var(--background-color-dark), var(--background-color-darker));
    text-align: left;
    justify-content: flex-start;
}

.project-identity-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-identity-image {
    flex: 1 1 20%;
    min-width: 350px;
    text-align: center;
}

.project-identity-image p, .extra-images p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 1250px) {
    .case-type h1 {
        font-size: 5em;
        margin-bottom: 1rem;
        width: 100%;
        text-align: right;
    }
}

.extra-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 5%;
}


