.services-hero{
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.services-image {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/services.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(0.5);
    width: 100dvw;
    height: 100dvh;
}

.services-hero-left, .services-hero-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    color: #333;
    text-align: center;
    z-index: 1;
    padding: 40px 80px;
}

.services-hero-left h1, .services-hero-right h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 700;
}
.services-hero-left span.bold, .services-hero-right span.bold {
    font-weight: 900;
    text-shadow: 0 0 5px #000;
  }

.services-hero-left {
    top: 200px;
    left: 0;
    filter: none;
}

.services-hero-right {
    bottom: 200px;
    right: 0;
    filter: none;
}

.services-intro {
    position: sticky;
    top: 0;
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    background-image: url('/Logo-Repeat.svg');
    background-size: 100px 100px;
    background-position: center;
    background-repeat: repeat;
}

.services-intro::before, .services-intro::after, .services-hero::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100dvh;
    height: 300px;
    z-index: 2; 
    pointer-events: none;
  }
  
  .services-intro::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
  }
  
  .services-intro::after, .services-hero::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(51, 51, 51, 1) 25%, rgba(51, 51, 51, 0) 100%);
  }

.services-intro p {
    color: var(--background-color);
    font-size: 1.5em;
    margin: 0;
    font-weight: 700;
    width: clamp(300px, 600px, 90%);
    text-align: left;
    z-index: 3;
}

.services-intro p span.shine {
    color: yellow;
    font-weight: 700;
    text-align: center;
    margin: 0;
    text-shadow: 0 0 5px yellow;
}

.services-intro span.color {
    width: clamp(300px, 600px, 90%);
    font-size: 1.5em;
    font-weight: 900;
    text-shadow: 0 0 5px cyan;
    color: cyan;
    text-align: right;
    z-index: 3;
}

.services-intro a {
    background-color: var(--background-color);
    border-radius: 8px;
    margin: 30px 0 0 0;
    padding: 10px 20px;
    color: #333;
    font-size: .75em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    z-index: 3;
}

.services-content {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
    max-width: 1400px;
}

.services-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.services-card-title {
    /* flex: 1 1 45%; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: clamp(2rem, 5vw, 3em);
    margin: 0 10px 0 10px;
    font-weight: 700;
    width: clamp(400px, 100%, 600px);
    text-align: left;
}

.services-card-info {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px 0 10px;
    width: clamp(400px, 50%, 600px);
    text-align: left;
}

.services-card-info ul {
    padding: 15px;
}

.services-card-info ul li {
    list-style-type: square;
    list-style-position: outside;
}

.services-card-info h2 {
    color: var;
}

.services-card-info p {
    font-size: 1.25em;
    font-style: oblique;
    margin: 0;
    font-weight: 400;
}

@media (max-width: 750px) {
    .services-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    .services-hero-left, .services-hero-right {
        position: relative;
        width: 100%;
        padding: 30px 10px;
    }
    .services-hero-left h1, .services-hero-right h1 {
        font-size: 1.75em;
    }
    .services-hero-left span.bold, .services-hero-right span.bold {
        font-size: 1.5em;
    }
    /* .services-item {
        padding: 10px;
    }

    .services-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .services-card-title {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 0;
        text-align: center;
    } */
}
