* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir';
  src: url(./fonts/Avenir.ttc) format('truetype');
}

@font-face {
  font-family: 'Cherolina';
  src: url(./fonts/Cherolina.ttf) format('truetype');
}

body {
  /* background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  color: #333;
  text-align: center;
  background-color: var(--background-color);
}
